#Pandas Giris

# Neuer Abschnitt

In [ ]:
#panel data>ekonemtrik ve finansal calismalar icin dogmusutr
#kesit ve zaman serisinin bir arada oldugu veri sekline Panel Data denir
#veri manipülasyonu ve veri analizi icin yazilmis acik kaynakli bir Python Kütüphanesidir

#Pandas Serisi Olusturmak

In [ ]:
import pandas as pd

In [ ]:
seri=pd.Series([0,2,4,6,7])#serinin degeri ve indexi bir arada veriliyor dikkat edersek
#degerleri indexleri ile birlikte tutar

In [ ]:
type(seri)

pandas.core.series.Series

In [ ]:
seri.axes#indexin bilgilerini veririr

[RangeIndex(start=0, stop=5, step=1)]

In [ ]:
seri.dtype#serini typ degerini verir

dtype('int64')

In [ ]:
seri.size#serinin boyutunu verir

5

In [ ]:
seri.ndim#data setin boyutunu veririr

1

In [ ]:
seri.values#data setinin degerlerini array olarak döndürür

array([0, 2, 4, 6, 7])

In [ ]:
seri.head()

0    0
1    2
2    4
3    6
4    7
dtype: int64

In [ ]:
seri2=pd.Series([77,345,2,1,323], index=['a','b','c','d','e'])#seriyi ve onun indexinin nasil adlandirilacigini yazdik

In [ ]:
seri2['a']#seri ikini a.ci indexini getir

77

#sözlük üzerinden liste olusturmak

In [ ]:
sozluk=pd.Series({'reg':10,'log':11,'cart':12})#sözlük olusturduk
sozluk

reg     10
log     11
cart    12
dtype: int64

#iki seriyi birlestirerek seri olusturma

In [ ]:
pd.concat([sozluk,sozluk])#serileri alt alta eklemek

reg     10
log     11
cart    12
reg     10
log     11
cart    12
dtype: int64

#Eleman Islemleri

In [ ]:
import numpy as np

In [ ]:
a=np.array([1,12,123,1234,2])
seri=pd.Series(a)
seri

0       1
1      12
2     123
3    1234
4       2
dtype: int64

In [ ]:
seri[0:3]#o ile 3 arasindaki  dizi elemanlari getirme islemi

0      1
1     12
2    123
dtype: int64

In [ ]:
seri=pd.Series([12,13,14,55], index=['reg','loj','cart','rf'])
seri

reg     12
loj     13
cart    14
rf      55
dtype: int64

In [ ]:
seri.index

Index(['reg', 'loj', 'cart', 'rf'], dtype='object')

In [ ]:
seri.keys

<bound method Series.keys of reg     12
loj     13
cart    14
rf      55
dtype: int64>

In [ ]:
list(seri.items())#serinin keys ve value birlikte alir getirir

[('reg', 12), ('loj', 13), ('cart', 14), ('rf', 55)]

In [ ]:
seri.values#serini sadece degerlerine erisir

array([12, 13, 14, 55])

In [ ]:
#Eleman Sorgulama

In [ ]:
'reg' in seri#reg diye birsey seri'nin icinde var mi manasindadir varsa True döner

True

#fancy eleman

In [ ]:
seri[['rf','reg']]#belirtilen indexteki degerleri getir

rf     55
reg    12
dtype: int64

In [ ]:
seri['reg']#reg indexini getir

12

In [ ]:
seri['reg']=231#indexe yeni atama yaptik
seri

reg     231
loj      13
cart     14
rf       55
dtype: int64

#Pandas Data Frame olusturma

In [ ]:
import pandas as pd

In [ ]:
l=[1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [ ]:
pd.DataFrame(l,columns=['degisken_ismi'])#l dizisinin indexleyerek ve bu indexe de desiken ismi diyerek dataframe seti olusturduk

   degisken_ismi
0              1
1              2
2              3
3              4
4              5

In [ ]:
import numpy as np
m=np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
pd.DataFrame(m,columns=['var1','var2','var3'])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

#df isimlendirme

In [ ]:
df=pd.DataFrame(m,columns=['var1','var2','var3'])
df.head()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [ ]:
df.columns#sutunlari döndürür

Index(['var1', 'var2', 'var3'], dtype='object')

In [ ]:
df.columns=('a','b','c')#sutunlarin adlandirmasini yeniden yaptik

In [ ]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.axes

[RangeIndex(start=0, stop=3, step=1), Index(['a', 'b', 'c'], dtype='object')]

In [ ]:
df.shape

(3, 3)

In [ ]:
df.ndim

2

In [ ]:
df.size

9

In [ ]:
df.values#burada numpy formatina ceviriyor

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
type(df.values)

numpy.ndarray

In [ ]:
df.head

<bound method NDFrame.head of    a  b  c
0  1  2  3
1  4  5  6
2  7  8  9>

#Eleman Islemleri

In [ ]:
import numpy as np
s1=np.random.randint(10,size=5)#rastgele 0-10 arasi 5 tane int deger olusturuyoruz
s2=np.random.randint(10,size=5)
s3=np.random.randint(10,size=5)

In [ ]:
s1,s2,s3

(array([7, 3, 0, 3, 1]), array([4, 0, 5, 0, 4]), array([8, 5, 7, 8, 2]))

In [ ]:
sozluk={'var1':s1,'var2':s2,'var3':s3}

In [ ]:
sozluk

{'var1': array([7, 3, 0, 3, 1]),
 'var2': array([4, 0, 5, 0, 4]),
 'var3': array([8, 5, 7, 8, 2])}

In [ ]:
df=pd.DataFrame(sozluk)#sozluk üzerinden dataframe olusturmak
df

   var1  var2  var3
0     7     4     8
1     3     0     5
2     0     5     7
3     3     0     8
4     1     4     2

In [ ]:
df[0:2]

   var1  var2  var3
0     7     4     8
1     3     0     5

In [ ]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
df.index=['a','b','c','d','e']#index degistirdik
df

   var1  var2  var3
a     7     4     8
b     3     0     5
c     0     5     7
d     3     0     8
e     1     4     2

In [ ]:
df['a':'d']#a.indexten d indexine kadar git

   var1  var2  var3
a     7     4     8
b     3     0     5
c     0     5     7
d     3     0     8

#Silme

In [ ]:
df.drop('b',axis=0)#axis=0 oradaki satiri al manasindadir

   var1  var2  var3
a     7     4     8
c     0     5     7
d     3     0     8
e     1     4     2

In [ ]:
df.drop('a',axis=0, inplace=True)#normalde drop('a',axis=0) yapsak o anlik 
#silme islemi oluyor ama dataya etkisi olmuyor. inplace=True yöntemi ile kalici olarak dataframe üzerinde degisiklik yapiyioruz

In [ ]:
df#burada a indexin olmadigini görürüz

   var1  var2  var3
b     3     0     5
c     0     5     7
d     3     0     8
e     1     4     2



```
# Als Code formatiert
```

 #degiskenler icin

In [ ]:
df

   var1  var2  var3
b     3     0     5
c     0     5     7
d     3     0     8
e     1     4     2

In [ ]:
'var1' in df

True

In [ ]:
l=['var1','var4','var2']

In [ ]:
for i in l:
  print(i in df)

True
False
True

In [ ]:
df

   var1  var2  var3
b     3     0     5
c     0     5     7
d     3     0     8
e     1     4     2

In [ ]:
df['var4']=df['var1']*df['var2']

In [ ]:
df

   var1  var2  var3  var4
b     3     0     5     0
c     0     5     7     0
d     3     0     8     0
e     1     4     2     4

#degisken Silmek

In [ ]:
df.drop('var4',axis=1)

   var1  var2  var3
b     3     0     5
c     0     5     7
d     3     0     8
e     1     4     2

In [ ]:
df

   var1  var2  var3  var4
b     3     0     5     0
c     0     5     7     0
d     3     0     8     0
e     1     4     2     4

In [ ]:
df.drop('var4',axis=1, inplace=True)

In [ ]:
df

   var1  var2  var3
b     3     0     5
c     0     5     7
d     3     0     8
e     1     4     2

#Gözlem ve Degisken Secimi

In [ ]:
import numpy as np
import pandas as pd
m=np.random.randint(1,30, size=(10,3))
df=pd.DataFrame(m,columns=['var1','var2','var3'])
df

   var1  var2  var3
0    27    14    12
1    16     3     2
2    23    18    29
3     2    24    18
4    10    10    15
5    25     7    19
6    29    10    14
7    19     7    22
8    11    10    10
9     4     4     5

#loc:tanimlandigi sekli ile secim yapmak icin kullanilir

In [ ]:
df.loc[0:3]#burada belirtilen o indexe kadaar deger döndürür

   var1  var2  var3
0    27    14    12
1    16     3     2
2    23    18    29
3     2    24    18

#iloc:alisik oldugumuz indexleme mantigiyla secim yapar

In [ ]:
df.iloc[0:3]#burada belirtilen indexe kadar gider

   var1  var2  var3
0    27    14    12
1    16     3     2
2    23    18    29

In [ ]:
df.iloc[:3,:2]#3satir,2 sutun

   var1  var2
0    27    14
1    16     3
2    23    18

In [ ]:
df.loc[0:3,'var3']

0    12
1     2
2    29
3    18
Name: var3, dtype: int64

In [ ]:
#df.iloc[0:3,'var3'] böyle islem yapilamaz cünkü 'var3' bir index degil hata verir bu yüzden

In [ ]:
df.iloc[0:3]['var3']#böyle bir islem üstte yapilmak istenenin aynisi fakat ikinci deger olarak yanda 'var3'seklinde yazilmali

0    12
1     2
2    29
Name: var3, dtype: int64

#KOSULLU ELEMAN ISLEMLERI

In [ ]:
df['var1']

0    27
1    16
2    23
3     2
4    10
5    25
6    29
7    19
8    11
9     4
Name: var1, dtype: int64

In [ ]:
df['var1'][0:3]

0    27
1    16
2    23
Name: var1, dtype: int64

In [ ]:
df[0:2][['var1','var2']]#fancy metodu ile yazma

   var1  var2
0    27    14
1    16     3

In [ ]:
df

   var1  var2  var3
0    27    14    12
1    16     3     2
2    23    18    29
3     2    24    18
4    10    10    15
5    25     7    19
6    29    10    14
7    19     7    22
8    11    10    10
9     4     4     5

In [ ]:
df.var1#degisken ismi ile cagirma

0    27
1    16
2    23
3     2
4    10
5    25
6    29
7    19
8    11
9     4
Name: var1, dtype: int64

In [ ]:
df[df.var1>15]#var1in 15 ten büyük oldugu verileri geitirir

   var1  var2  var3
0    27    14    12
1    16     3     2
2    23    18    29
5    25     7    19
6    29    10    14
7    19     7    22

In [ ]:
df[(df.var1>15)& (df.var3<4)]#belirtilen iki araliga saglanan sart ile getirme

   var1  var2  var3
1    16     3     2

In [ ]:
df.loc[(df.var1>15),['var1','var2']]#degisken ismiyle cagirmak
#df[(df.var1>15)][['var1','var2']]yada bu sekildede fancy yöntemi ile de cagirilabilir istenilen sutun

   var1  var2
0    27    14
1    16     3
2    23    18
5    25     7
6    29    10
7    19     7

#Birlestirme(JOIN) Islemler

In [ ]:
import numpy as np
import pandas as pd
m=np.random.randint(1,30, size=(15,4))
df=pd.DataFrame(m,columns=['var1','var2','var3','var4'])
df

    var1  var2  var3  var4
0     15    11    21    10
1     28     9     4    14
2     29    22    17    22
3     10    10    13     7
4     26     8    12     1
5     11    24    26    22
6     12     9    14    21
7      7     1    14     2
8     12    19    26    29
9     16    11    11     8
10    25     8    20    15
11    19    24    27    11
12    11    20    15     3
13    26    17    11    18
14     9     8    29    13

In [ ]:
df2=df+99#var olan dataframe 99 ekleyerek yeni bir df olusuturduk

In [ ]:
df2

    var1  var2  var3  var4
0    114   110   120   109
1    127   108   103   113
2    128   121   116   121
3    109   109   112   106
4    125   107   111   100
5    110   123   125   121
6    111   108   113   120
7    106   100   113   101
8    111   118   125   128
9    115   110   110   107
10   124   107   119   114
11   118   123   126   110
12   110   119   114   102
13   125   116   110   117
14   108   107   128   112

In [ ]:
pd.concat([df,df2])#alt alta iki df birlestirdi

    var1  var2  var3  var4
0     15    11    21    10
1     28     9     4    14
2     29    22    17    22
3     10    10    13     7
4     26     8    12     1
5     11    24    26    22
6     12     9    14    21
7      7     1    14     2
8     12    19    26    29
9     16    11    11     8
10    25     8    20    15
11    19    24    27    11
12    11    20    15     3
13    26    17    11    18
14     9     8    29    13
0    114   110   120   109
1    127   108   103   113
2    128   121   116   121
3    109   109   112   106
4    125   107   111   100
5    110   123   125   121
6    111   108   113   120
7    106   100   113   101
8    111   118   125   128
9    115   110   110   107
10   124   107   119   114
11   118   123   126   110
12   110   119   114   102
13   125   116   110   117
14   108   107   128   112

In [ ]:
pd.concat([df,df2],ignore_index=True)#bir üstte indexlemede hata oldu cünkü 14,indexten sonra yine 0 dan baslayarak indexlemeye devam ediyoyr
#bu hatayi ortadan kaldirmak icin ignore_index islemini True yapmaliyiz

    var1  var2  var3  var4
0     15    11    21    10
1     28     9     4    14
2     29    22    17    22
3     10    10    13     7
4     26     8    12     1
5     11    24    26    22
6     12     9    14    21
7      7     1    14     2
8     12    19    26    29
9     16    11    11     8
10    25     8    20    15
11    19    24    27    11
12    11    20    15     3
13    26    17    11    18
14     9     8    29    13
15   114   110   120   109
16   127   108   103   113
17   128   121   116   121
18   109   109   112   106
19   125   107   111   100
20   110   123   125   121
21   111   108   113   120
22   106   100   113   101
23   111   118   125   128
24   115   110   110   107
25   124   107   119   114
26   118   123   126   110
27   110   119   114   102
28   125   116   110   117
29   108   107   128   112

In [ ]:
df.columns

Index(['var1', 'var2', 'var3', 'var4'], dtype='object')

In [ ]:
df2.columns

Index(['var1', 'var2', 'var3', 'var4'], dtype='object')

In [ ]:
df2.columns=['var1','var2','var3','deg3']#df2e yeni columnslar atadik
df2

    var1  var2  var3  deg3
0    114   110   120   109
1    127   108   103   113
2    128   121   116   121
3    109   109   112   106
4    125   107   111   100
5    110   123   125   121
6    111   108   113   120
7    106   100   113   101
8    111   118   125   128
9    115   110   110   107
10   124   107   119   114
11   118   123   126   110
12   110   119   114   102
13   125   116   110   117
14   108   107   128   112

In [ ]:
pd.concat([df,df2],join='inner',ignore_index=True)#ayni olan columnslari yazdiracak

    var1  var2  var3
0     15    11    21
1     28     9     4
2     29    22    17
3     10    10    13
4     26     8    12
5     11    24    26
6     12     9    14
7      7     1    14
8     12    19    26
9     16    11    11
10    25     8    20
11    19    24    27
12    11    20    15
13    26    17    11
14     9     8    29
15   114   110   120
16   127   108   103
17   128   121   116
18   109   109   112
19   125   107   111
20   110   123   125
21   111   108   113
22   106   100   113
23   111   118   125
24   115   110   110
25   124   107   119
26   118   123   126
27   110   119   114
28   125   116   110
29   108   107   128

#Ileri Birlestirme Islemleri

In [ ]:
import pandas as pd

##birebir birlestirme

In [ ]:
df1=pd.DataFrame({'calisanlar':['Ali','Veli','Ayse','Fatma'],
                  'grup':['Muhasebe','Muhendislik','Muhendislik','IK']})
df1

  calisanlar         grup
0        Ali     Muhasebe
1       Veli  Muhendislik
2       Ayse  Muhendislik
3      Fatma           IK

In [ ]:
df2=pd.DataFrame({'calisanlar':['Ayse','Ali','Veli','Fatma'],
                  'ilk_giris':[2010,2009,2014,2019]})
df2

  calisanlar  ilk_giris
0       Ayse       2010
1        Ali       2009
2       Veli       2014
3      Fatma       2019

In [ ]:
pd.merge(df1,df2)#merge fonksiyonu birebir birlestirme islemini yapiyor

  calisanlar         grup  ilk_giris
0        Ali     Muhasebe       2009
1       Veli  Muhendislik       2014
2       Ayse  Muhendislik       2010
3      Fatma           IK       2019

###coktan teke (many to one)

In [ ]:
df3=pd.merge(df1,df2)
df3

  calisanlar         grup  ilk_giris
0        Ali     Muhasebe       2009
1       Veli  Muhendislik       2014
2       Ayse  Muhendislik       2010
3      Fatma           IK       2019

#Toplulastirma ve Gruplama(Aggregation&Grouping)
..en önemli konulardan biri

In [ ]:
import seaborn as sns

In [ ]:
df=sns.load_dataset('planets')

In [ ]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
df.shape

(1035, 6)

In [ ]:
df.columns

Index(['method', 'number', 'orbital_period', 'mass', 'distance', 'year'], dtype='object')

In [ ]:
df.mean()#bütün degiskenlerin ortalamasini verdi

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

number               1.785507
orbital_period    2002.917596
mass                 2.638161
distance           264.069282
year              2009.070531
dtype: float64

In [ ]:
df['mass'].mean()#sadece mass ortalamasini hesaplamak istiyorsak böyle yapmaliyiz

2.6381605847953233

In [ ]:
df['mass'].min()

0.0036

In [ ]:
df['mass'].max()

25.0

In [ ]:
df['mass'].sum()

1353.37638

In [ ]:
df['mass'].std()#standart sapmasi

3.8186166509616046

In [ ]:
df['mass'].var()

14.58183312700122

In [ ]:
df.describe()#yukarida yapilan islemlerin hepsinin kisaca yapilisi :)

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [ ]:
df.describe().T#transpozesini alip göstermek

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [ ]:
df.dropna().describe().T#eger veri setinin icinde eksik veri olursa dropna seklinde silinirek atilir
#bu durumda datasetinin bazi degerlerinde degisiklik oldugunu görmek mümkün

,count,mean,std,min,25%,50%,75%,max
number,498.0,1.734940,1.175720,1.0000,1.00000,1.000,2.0000,6.0
orbital_period,498.0,835.778671,1469.128259,1.3283,38.27225,357.000,999.6000,17337.5
mass,498.0,2.509320,3.636274,0.0036,0.21250,1.245,2.8675,25.0
distance,498.0,52.068213,46.596041,1.3500,24.49750,39.940,59.3325,354.0
year,498.0,2007.377510,4.167284,1989.0000,2005.00000,2009.000,2011.0000,2014.0

#Gruplama Islemleri

In [ ]:
df=pd.DataFrame({'gruplar':['A','B','C','A','B','C'],
                 'veri':[10,11,52,23,43,55]}, columns=['gruplar','veri'])
df

  gruplar  veri
0       A    10
1       B    11
2       C    52
3       A    23
4       B    43
5       C    55

In [ ]:
df.groupby('gruplar').mean()#gruplari aldik ve üzerinde ne islem yapmak istedigimiz
#yaziyoruz

         veri
gruplar
A        16.5
B        27.0
C        53.5

In [ ]:
df=sns.load_dataset('planets')
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
df.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [ ]:
df.groupby('method')['orbital_period'].mean()
#method degiskeninin altinda bulunanlarin orbitala göre ortalama degerini al

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

In [ ]:
df.groupby('method')['orbital_period'].describe().T

method,Astrometry,Eclipse Timing Variations,Imaging,Microlensing,Orbital Brightness Modulation,Pulsar Timing,Pulsation Timing Variations,Radial Velocity,Transit,Transit Timing Variations
count,2.000000,9.000000,12.000000,7.000000,3.000000,5.000000,1.0,553.00000,397.000000,3.000000
mean,631.180000,4751.644444,118247.737500,3153.571429,0.709307,7343.021201,1170.0,823.35468,21.102073,79.783500
std,544.217663,2499.130945,213978.177277,1113.166333,0.725493,16313.265573,NaN,1454.92621,46.185893,71.599884
min,246.360000,1916.250000,4639.150000,1825.000000,0.240104,0.090706,1170.0,0.73654,0.355000,22.339500
25%,438.770000,2900.000000,8343.900000,2375.000000,0.291496,25.262000,1170.0,38.02100,3.160630,39.675250
50%,631.180000,4343.500000,27500.000000,3300.000000,0.342887,66.541900,1170.0,360.20000,5.714932,57.011000
75%,823.590000,5767.000000,94250.000000,3550.000000,0.943908,98.211400,1170.0,982.00000,16.145700,108.505500
max,1016.000000,10220.000000,730000.000000,5100.000000,1.544929,36525.000000,1170.0,17337.50000,331.600590,160.000000

#Ileri Toplulastirma Islemleri(Aggregate,filter,transform,apply)

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame({'gruplar': ['A','B','C','A','B','C'],
                 'degisken1': [10,23,33,22,11,99],
                 'degisken2': [100,253,333,262,111,969]},
                 columns=['gruplar','degisken1','degisken2']
              )

In [ ]:
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [ ]:
#aggregate

In [ ]:
df.groupby('gruplar').mean()

         degisken1  degisken2
gruplar
A             16.0      181.0
B             17.0      182.0
C             66.0      651.0

In [ ]:
df.groupby('gruplar').aggregate([min,np.median,max])

        degisken1            degisken2
              min median max       min median  max
gruplar
A              10   16.0  22       100  181.0  262
B              11   17.0  23       111  182.0  253
C              33   66.0  99       333  651.0  969

In [ ]:
df.groupby('gruplar').aggregate({'degisken1':'min','degisken2':'max'})
#degisken1ve2 istenilen min ve max seklinde döndürülüp yazildi

         degisken1  degisken2
gruplar
A               10        262
B               11        253
C               33        969

#Filter

In [ ]:
df=pd.DataFrame({'gruplar': ['A','B','C','A','B','C'],
                 'degisken1': [10,23,33,22,11,99],
                 'degisken2': [100,253,333,262,111,969]},
                 columns=['gruplar','degisken1','degisken2']
)
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [ ]:
#kendi ihtiyacimiza göre fonksiyon yazacagiz
def filter_func(x):
  return x['degisken1'].std()>9

In [ ]:
df.groupby('gruplar').filter(filter_func)

  gruplar  degisken1  degisken2
2       C         33        333
5       C         99        969

In [ ]:
df.describe()

       degisken1   degisken2
count   6.000000    6.000000
mean   33.000000  338.000000
std    33.436507  322.291793
min    10.000000  100.000000
25%    13.750000  146.500000
50%    22.500000  257.500000
75%    30.500000  315.250000
max    99.000000  969.000000

#transform

In [ ]:
df=pd.DataFrame({'gruplar': ['A','B','C','A','B','C'],
                 'degisken1': [10,23,33,22,11,99],
                 'degisken2': [100,253,333,262,111,969]},
                 columns=['gruplar','degisken1','degisken2']
              )
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [ ]:
df_a=df.iloc[:,1:3]

In [ ]:
df.transform(lambda x:x-x.mean())#bu drumda gruplar string oldugu icin hata olabilir

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

   degisken1  degisken2 gruplar
0      -23.0     -238.0     NaN
1      -10.0      -85.0     NaN
2        0.0       -5.0     NaN
3      -11.0      -76.0     NaN
4      -22.0     -227.0     NaN
5       66.0      631.0     NaN

In [ ]:
df_a.transform(lambda x:(x-x.mean())/x.std())

   degisken1  degisken2
0  -0.687871  -0.738461
1  -0.299074  -0.263736
2   0.000000  -0.015514
3  -0.328982  -0.235811
4  -0.657963  -0.704331
5   1.973890   1.957853

#apply

In [ ]:
df=pd.DataFrame({ 
                 'degisken1': [10,23,33,22,11,99],
                 'degisken2': [100,253,333,262,111,969]},
                 columns=[ 'degisken1','degisken2']
              )
df

   degisken1  degisken2
0         10        100
1         23        253
2         33        333
3         22        262
4         11        111
5         99        969

In [ ]:
df.apply(np.sum)

degisken1     198
degisken2    2028
dtype: int64

In [ ]:
df.apply(np.mean)

degisken1     33.0
degisken2    338.0
dtype: float64

In [ ]:
df=pd.DataFrame({'gruplar': ['A','B','C','A','B','C'],
                 'degisken1': [10,23,33,22,11,99],
                 'degisken2': [100,253,333,262,111,969]},
                 columns=['gruplar','degisken1','degisken2']
              )
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [ ]:
df.groupby('gruplar').apply(np.sum)

        gruplar  degisken1  degisken2
gruplar
A            AA         32        362
B            BB         34        364
C            CC        132       1302

#Pivot Tablolar

In [ ]:
import seaborn as sns
import pandas as pd
titanic=sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
titanic.shape

(891, 15)

In [ ]:
titanic.groupby('sex')['survived'].mean()#cinsiyete göre sag kalma durmunu ele aldik

sex
female    0.742038
male      0.188908
Name: survived, dtype: float64

In [ ]:
titanic.groupby('sex')[['survived']].mean()#cinsiyete göre sag kalma durmunu ele aldik

        survived
sex
female  0.742038
male    0.188908

In [ ]:
titanic.groupby(['sex','class'])[['survived']].aggregate('mean').unstack()

        survived
class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [ ]:
#pivot ile table

In [ ]:
titanic.pivot_table('survived',index='sex',columns='class')
#üstteki kodun daha basit yazilisi

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [ ]:
titanic.age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [ ]:
age=pd.cut(titanic['age'],[10,18,90])#yas araligini 10,18,90 araligina göre böldük
age.head(10)

0    (18.0, 90.0]
1    (18.0, 90.0]
2    (18.0, 90.0]
3    (18.0, 90.0]
4    (18.0, 90.0]
5             NaN
6    (18.0, 90.0]
7             NaN
8    (18.0, 90.0]
9    (10.0, 18.0]
Name: age, dtype: category
Categories (2, interval[int64, right]): [(10, 18] < (18, 90]]

In [ ]:
titanic.pivot_table('survived',['sex',age],'class')

class               First    Second     Third
sex    age
female (10, 18]  1.000000  1.000000  0.523810
       (18, 90]  0.972973  0.900000  0.423729
male   (10, 18]  0.666667  0.000000  0.103448
       (18, 90]  0.375000  0.071429  0.133663

#Dis Kaynakli Veri Okumak

In [ ]:
import pandas as pd

In [ ]:
!wget 'https://raw.githubusercontent.com/mrdbourke/tensorflow-deep-learning/main/extras/helper_functions.py'

--2022-03-14 12:43:15--  https://raw.githubusercontent.com/mrdbourke/tensorflow-deep-learning/main/extras/helper_functions.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10246 (10K) [text/plain]
Saving to: ‘helper_functions.py’

helper_functions.py 100%[===================>]  10.01K  --.-KB/s    in 0s

2022-03-14 12:43:15 (55.6 MB/s) - ‘helper_functions.py’ saved [10246/10246]

In [ ]:
from helper_functions import unzip_data

In [ ]:
unzip_data('/content/reading_data.zip')

In [ ]:
#csv okuma
pd.read_csv('/content/reading_data/ornekcsv.csv',sep=';')

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

In [ ]:
#txt okuma
pd.read_csv('/content/reading_data/duz_metin.txt')

ValueError: ignored

In [ ]:
#excel_okuma
pd.read_excel('/content/reading_data/ornekx.xlsx')